body, p, table, tr, th, td, strong, h1, h2, h3, h4, h5, h6, blockquote, li {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 10pt;
}

.fixed-width {
    font-family: Menlo, Monaco, Consolas, Inconsolata, Courier, monospace;
}

a, a:visited, a:active, a:hover, a:link {
   text-decoration: none;
}

#top-panel {
   background-image: none;
   background: black;
}

#top-panel img:first-child {
   display:none;
}

#search-box {
   margin-top: 8px;
}

#main-table {
   background: none;
   background-image: none;
   background-position: bottom left;
}

#main-panel > pre,
#out pre, pre {
    background-color: #110F13 !important;
    color: #DFDFDF;
    padding: 30px;
    border-radius: 10px;
    font-size: 10.5pt;
}

textarea, .setting-input {
    background-color: #122F43;
    color: #DFDFDF;
    padding: 6px 10px;
    font-size: 10.5pt;
    box-shadow: rgba(0,0,0,0.5) 1px 3px 6px inset;
    border-radius: 8px;
    border-style: none;
}

.yui-skin-sam .yui-button button {
    line-height: 2em;
    font-size: 10pt;
    min-height: 2em;
    padding: 0 10px;
}

select {
    background-color: #122F43;
    color: #DFDFDF;
    border-radius: 8px;
    height: 2.3em;
}
/* Code Mirror */

.CodeMirror {background-color: #110F13;}
.cm-s-menlo span.CodeMirror-matchhighlight { background: #494949 }
.cm-s-menlo.CodeMirror-focused span.CodeMirror-matchhighlight { background: #314D67 !important; }
.cm-s-menlo .CodeMirror-activeline-background {background: #253540 !important;}
.cm-s-menlo.CodeMirror {background: #110F14; color: #D1EDFF;}
.cm-s-menlo.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}
.cm-s-menlo div.CodeMirror-selected {background: #314D67 !important;}
.cm-s-menlo .CodeMirror-gutters {background: #0F192A; border-right: 1px solid;}
.cm-s-menlo .CodeMirror-linenumber {color: #D0D0D0;}
.cm-s-menlo .CodeMirror-cursor {border-left: 1px solid #F8F8F0 !important;}
.cm-s-menlo span.cm-comment {color: #588cc7; }
.cm-s-menlo span.cm-atom {color: #b28ef2; }
.cm-s-menlo span.cm-number {color: #d6ecfa; }
.cm-s-menlo span.cm-property, .cm-s-default span.cm-attribute {color: #9eca46; }
.cm-s-menlo span.cm-keyword {color: #d24d4d; }
.cm-s-menlo span.cm-string {color: #31ac2b; }
.cm-s-menlo span.cm-variable {color: #eca851; }
.cm-s-menlo span.cm-variable-2 {color: #eca851; }
.cm-s-menlo span.cm-def {color: #5ac7c7; }
.cm-s-menlo span.cm-error {background: #d33c38; color: #F8F8F0; }
.cm-s-menlo span.cm-bracket {color: #d1edff; }
.cm-s-menlo span.cm-tag {color: #5a5a83; }
.cm-s-menlo span.cm-link {color: #b28ef2; }
.cm-s-menlo .CodeMirror-matchingbracket {text-decoration: underline; color: white !important;}